@font-face{
	font-family: "oldsov";
	src: url("../fonts/oldsov.otf");
}
@font-face{
	font-family: "mono";
	src: url("../fonts/mono.ttf") format("truetype");
}
@font-face{
	font-family: "patebold";
	src: url("../fonts/patebold.otf");
}
@font-face{
	font-family: "zozh";
	src: url("../fonts/zozh.ttf") format("truetype");
}
@font-face{
	font-family: "ubuntu";
	src: url("../fonts/ubuntu-r.ttf") format("truetype");
	font-style: normal;
}
@font-face{
	font-family: "ubuntu";
	src: url("../fonts/ubuntu-b.ttf") format("truetype");
	font-style: bold;
}
@font-face{
	font-family: "eno";
	src: url("../fonts/eno.ttf") format("truetype");
}
@font-face{
	font-family: "kraft";
	src: url("../fonts/Kraft.otf");
}
@font-face{
	font-family: "slifted";
	src: url("../fonts/slifted.otf");
}
@font-face{
	font-family: "unbounded";
	src: url("../fonts/unbounded.ttf");
}