@import 'fonts.css';
#UI {
    z-index:            20;
    position:           fixed;
    width:              96vw;
    height:             96vh;
    margin:             0;
    box-sizing:         border-box;

    display:            flex;
    flex-direction:     column;

    top:                2vh;
    left:               2vw;

    border:             0.2cqw solid red;
    border-image:       linear-gradient(20deg, white 20%, rgba(255, 255, 255, 0.3), white 80%) 1;

    padding:            0.5%;
    gap:                0.5%;

    box-shadow:         0 0 4px 40vW rgba(0, 0, 0, 0.6);
    font-family:        mono;
    pointer-events:     none;
}
#UI > ul {
    display:            none;
}
uidivider {
    flex-grow:          1;
    border:             0.1cqw solid rgba(255, 255, 255, 0.05);
}
uihead {
    display:            none;
}
#popupf11 {
    display:            none;
}